<template>
    <require from="./footer.css"></require>
   <div class="container-fluid">
       <div class="row">
           <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
               <p>
                   <!-- <small> -->
                        As is industry standard among all insurance carriers and in accordance with applicable laws and your policy. your annual 
                        premium is an estimate determined by the information provided to us to date and the application of our manuals of rules, 
                        rates, rating plans and classifications. You annual premium is subject to change after coverage has been bound. Please be 
                        aware that the information submitted to you is subject to verificaton via an anuual audit in accordance with the terms of 
                        your policy. Also, additional charges may be applied in certain jurisdications to address speecific circumstances. if a 
                        check is returned due to insufficent funds, a fee will be assessed. Payments after recived after the due date may be subject 
                        to a late fee and policy cancellation. Please read your policy carefully. Coverage is only afforded by your policy and endorsements.
                <!-- </small> -->
               </p>
           </div>
       </div>
       <br>
       <br>
       <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <p>products</p>
                    <a>
                        workers' comp
                    </a><br>
                    <a>
                        general liability
                       
                    </a><br>
                    <a>
                        propety and liability
                    </a><br>
                    <a>
                        commercial auto
                    </a><br>
                    <a>
                        umbrella
                    </a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <p>information</p>
                    <a>
                        resource center        
                    </a><br>
                    <a>
                        loss control
                    </a><br>
                    <a>
                        balance sheets
                    </a>
                   <br>
            </div>  
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <p>legal</p>
                    <a>
                        privacy policy        
                    </a><br>
                    <a>
                        terms and consitions
                    </a><br>
                    <a>
                        other disclosures
                    </a>
            </div>  
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                <p>help</p>
                <a>
                    FAQ         
                </a><br>
                <a>
                    make a claim
                </a>
            </div>            
        </div>
        <br>
        <br>
        <div class="row footerText">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <p>
                    <!-- <small> -->
                        Most policies issued through biBERK.com will be underwritten by Berkshire Hathaway Direct Insurance Company ("BHDIC")
                        or National Liablity and Fire Insurance Company ("NLF"), which are AM best rated A++ insurers.
                    <!-- </small> -->
                </p>
            </div>
        </div>
        <br>
        <div class="row footerText">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <label>
                            <span class="glyphicon glyphicon-copyright-mark"></span>  
                            <!-- <small> -->
                                2017 Berkshire Hathaway Direct Insurance Company
                            <!-- </small>                        -->
                            <br>
                            <span class="glyphicon glyphicon-copyright-mark"></span> 
                            <!-- <small> -->
                                2017 National Liability & Fire Insurance Company
                            <!-- </small> -->
                    </label>
                </div>
            </div>
  </div>
</template>
